  <div>
      {{#if user }}
        <pre>
          {{user.fb}}
        </pre>
        <button class="btn btn-primary"><a href="/logout">Logout</a></button>
      {{else}}
        <button class="btn btn-primary"><a href="/auth/facebook">Login with Facebook</a></button>
      {{/if}}
  </div>
  
