.jumbotron {
  background-image: url(/images/acid_freak.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 400px;
}

.jumbotron .container h1 {
		margin-top: -15px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.delete-album
 {
	float: right;
	margin-left: 3px;
	margin-right: 3px;
}


